@import "../../styles/theme/gbe.css";
@import "../../styles/theme/kiddyland.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
@font-face {
  font-family: 'Noto IKEA Latin';
  src: url("../../assets//fonts/NotoIKEALatin-Regular.ttf") format("ttf");
  font-weight: normal;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Noto IKEA Latin', sans-serif;
}
