[data-theme="gbe"] {
  /* Colors */
  --primary: #e6c200;
  --secondary: #b8b2a6;
  --error: #ff4c4c;
  --warning: #ffae42;
  --info: #4da8da;
  --success: #2ba84a;

  /* Text Colors */
  --text-primary: #eaeaea;
  --text-secondary: #b5b5b5;
  --text-disabled: #757575;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  /* Border Radius */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;

  /* Font Sizes */
  /* Headings */
  --font-h1: 32px;
  --font-h2: 28px;
  --font-h3: 24px;
  --font-h4: 20px;

  /* Other Text Elements */
  --font-subtitle: 18px;
  --font-base: 16px;
  --font-sm: 14px;
  --font-xs: 12px;

  /* Font weight */
  --font-light: 300;
  --font-regular: 400;
  --font-bold: 700;
  }